<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="FacebookGraphToolkitConfiguration" type="Facebook_Graph_Toolkit.FacebookGraphToolkitConfiguration" />
  </configSections>
  <FacebookGraphToolkitConfiguration AppID="323136097751870" AppSecret="3e81b24f6c0149ba995ee5394c00f4d6" CanvasAddress="http://apps.facebook.com/karmahub/" PostAuthorizeRedirectURL="Karma.aspx">
  </FacebookGraphToolkitConfiguration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <identity impersonate="false" />
  </system.web>
</configuration>
